<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoArbitrageMonitoringApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CryptoArbitrageMonitoring.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CryptoArbitrageMonitoringApp.Settings1>
            <setting name="MinBidAskSpread" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="ExchangeComissionDivergence" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="MinProfitDivergence" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="DivergencePeriod" serializeAs="String">
                <value>50</value>
            </setting>
        </CryptoArbitrageMonitoringApp.Settings1>
    </userSettings>
</configuration>